<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="draw2DBean" class="com.dependencyinjection.bean.Draw2D" />
    <bean id="draw3DBean" class="com.dependencyinjection.bean.Draw3D" />

    <!--circle constructor bean-->
    <bean id="circleBean" class="com.dependencyinjection.bean.Circle" scope="singleton">
        <constructor-arg ref="draw2DBean"/>
        <constructor-arg ref="draw3DBean"/>
    </bean>

    <!--square setter (property) bean-->
    <bean id="squareBean" class="com.dependencyinjection.bean.Square" scope="prototype">
        <property name="draw2D" ref="draw2DBean"/>
        <property name="draw3D" ref="draw3DBean"/>
    </bean>
</beans>





